.navbar-nav {
  justify-content: center;
}

.navbar-collapse {
  text-align: center;
}
@media (max-width: 576px) {
  .navbar-brand.active {
    margin-left: 0rem; /* Adjust margin specifically for mobile view */
  }
}
